html {
  font-family: 'Merriweather', serif;
  list-style-type: none;
}

.launch {
  border-radius: 8px;
  padding: .5em;
  background-color: #f2f2f2;
  border-color: #666;
  color: #333;
}

.green {
  border-radius: 8px;
  padding: .5em;
  background-color: #d1e0bf;
  border-color: #6b7e54;
  color: #51603f;
}

.blue {
  border-radius: 8px;
  padding: .5em;
  background-color: #d2d6f0;
  border-color: #1d38da;
  color: #38448e;
}

.red {
  border-radius: 8px;
  padding: .5em;
  background-color: #f2bcbc;
  border-color: #b92828;
  color: #991919;
}
